<app-navbar></app-navbar>
<div class="container">
	<div class="starter-template">
		<h1>Help A Homie Out</h1>

		<h3>Login</h3>

		<p>{{userID[0]}}</p>

		<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="ui form">

			<div class="field">
				<label for="usernameInput">User Name: </label>
				<input type="text" id="usernameInput" placeholder="User" name="username" ngModel>
				<br>
				<label for="usernameInput">Password: </label>
				<input type="password" id="passwordInput" name="password" ngModel>
			</div>

			<button type="submit" class="ui button">Submit</button>
		</form>
	</div>
</div>