<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
<!-- <<<<<<< HEAD -->
    <a class="navbar-brand" href="#">HelpAHomieOut</a>
<!-- ======= -->
<!-- >>>>>>> c6f184f684813def3b97deceac29266d2718ec11 -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle>Options</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01" ngbDropdownMenu>
            <a class="dropdown-item" href="#">Login</a>
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Register</a>
          </div>
        </li>
      </ul>
      <!-- <form (submit)="onSubmit($event)" class="form-inline my-2 my-lg-0"> -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>