<app-navbar></app-navbar>
<div class="container">
	<div class="starter-template">
		<h1>Help A Homie Out</h1>
		<h3>Profile Page</h3>
		
		<p>
			<img src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fmedia.licdn.com%2Fdms%2Fimage%2FC4E03AQGLYrSPmT0Ckg%2Fprofile-displayphoto-shrink_200_200%2F0%3Fe%3D1529974800%26v%3Dbeta%26t%3DH8I0PludiEj-WrWSabgOL-LB130GM-Yp_m0p0cUDeDw"
			style="width:75px;height:75px;">
		<br>
		Username: Temp
		<br>
		Zip: 12345
		</p>
		<form action="/action_page.php">
			Old Password: <input type="password" name="oldPassword">
			<br>
			New Password: <input type="password" name="newPassword">
			<br>
			Confirm Password: <input type="password" name="confirmPassword">
			<br> 
			<input type="submit" value="Change Password">
		</form>
	</div>
</div>